{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}
	<section class="container">
		<div class="title">
			<h1>{{ category.name }}</h1>
			<a href="{{url_for('addItem', category_id = category.id)}}"><img src="{{url_for('static', filename='plus.svg')}}" alt="" /></a>
		</div>
		<ul class="category-items">
			{% for i in items %}
				<li>
					<a href="{{url_for('viewItem', category_id = category.id, item_id = i.id)}}">
						<p>{{i.title}}</p>
					</a>
					<span class="action-btns">
						<a href="{{url_for('editItem', category_id = category.id, item_id = i.id)}}" title="Edit"><i class="fas fa-pencil-alt"></i></a>
						<a href="{{url_for('deleteItem', category_id = category.id, item_id = i.id)}}" title="Delete"><i class="far fa-trash-alt"></i></a>
					</span>
				</li>
			{% endfor %}
		</ul>
		<a class="back-btn" href="{{url_for('viewCategories')}}"><i class="fas fa-arrow-left"></i> <span>Back to Home Page</span></a>
	</section>
{% endblock %}