{% extends 'main.html' %}
{% block content %}
{% include 'header.html' %}
	<section class="container">
		<div class="title">
			<h1>{{ category.name }}</h1>
		</div>
		<ul class="category-items">
			{% if items != [] %}
				{% for i in items %}
					<li>
						<a href="{{url_for('viewItem', category_id = category.id, item_id = i.id)}}">
							<p>{{i.title}}</p>
						</a>
					</li>
				{% endfor %}
			{% else %}
				<p>There are no items in this category.</p>
			{% endif %}
		</ul>
		<a class="back-btn" href="{{url_for('viewCategories')}}"><i class="fas fa-arrow-left"></i> <span>Back to Home Page</span></a>
	</section>
{% endblock %}